* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #FFF7ED;
}
body::-webkit-scrollbar{
    display: none;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
main {
    margin-bottom: 84px;
}
/* all flex items */
nav, 
.host-layouts, 
.details-container,
.hold-vans-list section,
.hold-single-van-container,
.dashboard-stars-container,
.van-filter-container,
.inner-hold-van,
.details-nav {
    display: flex;
}
nav {
    align-items: center;
    padding: 35px 20px;
    background-color: #FFF7ED;
}
a, button {
    cursor: pointer;
    text-decoration: none;
    color: #161616;
}

nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-size: 16px;
    
}
nav a {
    font-weight: 600;
}

nav a:nth-of-type(1) {
    color: #000000;
    font-weight: 900;
    font-size: 25.35px;
    text-transform: uppercase;
}
nav a:nth-of-type(2) {
    margin: 0 0 0 auto;
    padding-right: 12px;
}
nav a:nth-of-type(3) {
    padding-right: 12px;
}
nav a:nth-of-type(2):hover, 
nav a:nth-of-type(3):hover,
nav a:nth-of-type(4):hover {
    color: #161616;
    text-decoration: underline;
}
.home-page {
    background-image: url('./img/image1.png');
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px;
    color: white;
    padding: 45px 20px;
}
.home-page h1 {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 700;
}
.home-page p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}
.home-page a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}
.active--link {
    font-weight: 600;
    text-decoration: underline;
    color: #161616;
}
.about-pic {
    display: block;
    margin-bottom: 0;
}

.about--container {
    padding: 48px 26px;
}
.about--container h1 {
    font-weight: 700;
    font-size: 32px;
    color: #161616
}
/* Van section */
.vans-pre-setup img {
    max-width: 100%;
    border-radius: 5px;
}
.van-main-container {
    padding-inline: 23px
}
.vans-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}
.van-filter-container {
    align-items: center;
    gap: 20px;
    margin-top: 30px;
   
}
button {
    border: none;
}

.vans-names-container .van--name {
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    margin-bottom: 0;
}

.vans-names-container p:nth-of-type(2) {
    display: inline-block;
    padding: 3px 0;
    
}
.van-type {
    height: 34px;
    padding: 6px 12px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    background-color: #FFEAD0;
    font-size: 16px;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: auto;
    height: 34px;
    padding: 6px 12px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}
/* van Details Section */
.vans--profile {
    padding: 40px 20px;
    
}
.vans--profile img {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 7px 0px rgba(166,166,166,0.75);
    -webkit-box-shadow: 2px 2px 7px 0px rgba(166,166,166,0.75);
    box-shadow: 2px 2px 7px 0px rgba(166,166,166,0.75);
}
.vans--profile h1 {
    font-weight: 700;
    color: #161616;
    font-size: 32px;;
}
.vans--profile p:nth-of-type(1) {
    font-weight: 700;
    font-size: 24px;
}
.day {
    font-weight: 400;
    font-size: 20px;
}
.vans--profile p:nth-of-type(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.vans--profile button {
    width: 100%;
    background: #FF8C38;
    border-radius: 4.98319px;
    height: 40px;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    margin-top: 25px;
}
.back-to-vans {
    padding: 0 20px;
    font-weight: 500;
    font-size: 15.9462px;
    color: #201F1D;
    
}
.back-to-vans span {
    padding-left: 3px;
}
.back-to-vans span:hover {
    text-decoration: underline;
}
/* Host layouts */
.host-layouts {
    gap: 20px;
    padding: 10px 20px 30px;
}
.host-layouts a {
    font-weight: 500;
    font-size: 18px;
    color: #4D4D4D;
}
.host-layouts a:hover  {
    text-decoration: underline;
    color: #161616;
    font-weight: 600;
}
/* host dashboard section */
.dashboard  {
    background: #FFEAD0;
    border-radius: 5px;
    padding: 30px 20px;
    color: #161616;
    margin-top: 10px;
}
.dashboard h4 {
    font-weight: 700;
    font-size: 36px;
    display: block;
    margin: 0;
    padding-bottom: 20px;
}
.dashboard h1 {
    font-weight: 800;
    font-size: 48px;
    margin-top: 20px;
}
.details-container {
    align-items: center;
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
}
.details-container span:nth-of-type(2) {
    color: #161616;
}
.details-container span:nth-of-type(2),
.dashboard-stars-container span:nth-of-type(3) {
    margin: 0 0 0 auto;
}
.dashboard-stars-container {
    background: #FFDDB3;
    border-radius: 5px;
    padding: 40px 20px;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    color: #161616;
}
.day-price, section h1 span {
    color: #4D4D4D;
}
.dashboard-stars-container img{
    padding-left: 12px;
}
.dashboard-stars-container span:nth-of-type(2) {
    padding-left: 3px;
}
.dashboard-stars-container span:nth-of-type(3) {
    font-weight: 500;
    font-size: 16px;
}

/* host vans section */
.hold-van-list h4 {
    margin: 0;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 32px;
     
}
.hold-vans-list section {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.hold-single-van-container {
    align-items: center;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 12px 20px;
    gap: 17px;
    color: #161616;
}
.hold-single-van-container h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}
.hold-single-van-container p {
    margin-top: 5px;
    color: #4D4D4D;
}
.list-img-container {
    width: 65.88px;
    height: 65.88px;
    
}
.list-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* host vans details */
.host-van-details-container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 6px;
    margin: 30px 20px;

}

.inner-hold-van img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 5px;
}
.inner-hold-van {
    align-items: center;
    gap: 20px;
    color: #161616;
}

.inner-hold-van p:nth-of-type(1) {
    font-weight: 700;
    font-size: 24;
    padding-top: 11px;
}
/* host van details child link container */
.details-nav {
    align-items: center;
    gap: 25px;
    padding: 25px 0;
}
.details-nav a {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16.1492px;
}
/* host van details info section */
.host-van-info p:nth-of-type(1){
    margin-top: 0;
    
}
.host-van-info p {
    font-style: normal;
    font-weight: 500;
    font-size: 14.3548px;
    color: #4D4D4D;
}
.host-van-info p:nth-of-type(3) {
    line-height: 21px;
    margin-bottom: 0;
}
strong {
    color: #161616;
}
.host-van-img {
    width: 103px;
    height: 101.56px;
    border-radius: 5px;
}
section h1 {
    margin-top: 0;
}






footer {
    background-color: #161616f8;
    color: #AAAAAA;
    padding: 35px;
    text-align: center;
    margin-top: 84px;

}


