* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    padding: 35px 25px;
    background-color: #FFF7ED;
}
nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-size: 16px;
    
}

nav a:nth-of-type(1) {
    color: #000000;
    font-weight: 900;
    font-size: 25.35px;
    text-transform: uppercase;
}
nav a:nth-of-type(2) {
    margin: 0 0 0 auto;
    padding-right: 12px;
}
nav a:nth-of-type(2):hover, 
nav a:nth-of-type(3):hover {
    color: #161616;
    font-weight: 600;
}
.intro-page {
    background-image: url('img/image1.png');
    margin: 0;
    display: inline-block;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    padding: 65px 26px;
   
    width: 100%;
}
.intro-page h1 {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 700;
}
.intro-page p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}
.intro-page button {
    background: #FF8C38;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 8px;
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
    color: #FFFFFF;
}

footer {
    background-color: #252525;
    padding: 25px;
   
    margin: 0 0 auto 0;
}
a, button {
    cursor: pointer;
}


